body {
    background-color: lightgray;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

article {
    width: 300px;
    
    margin-top: 20px;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;


}

h1 {
    font-size: 200%;
    background-color: orange;
    padding: 10px;
    margin: 0;
}

p {
    text-align: justify;
    padding: 10px;
    margin: 0;
}

img {
    width: 100px;
    padding: 0px;
    border: 3px orange solid;
    margin: 0px 10px 10px 0px;
    float: left;
}