body{
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #273B0E;
    margin: 0%;
    border-radius: 4px;
}

.header a {
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    float: right;
}

.header a:hover {
    background-color: #1C6704;
    color: black;
}

@media screen and (max-width: 520px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .inhalt { 
        grid-area: 1 / 1 / 2 / 4;
     }
    .sidenav { 
        grid-area: 1 / 4 / 2 / 5;
     }
  

.inhalt img {
    width: 20%;
    height: 20%;
    margin: 10px;
    float: left;
}