.parent {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, max-content));
    grid-template-rows: repeat(4,  minmax(100px, max-content)) 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

body {
    max-width: 1200px;
    min-width: none;
}

.box {
    margin: 10px;
    border: 1px solid black;
}

footer {
    grid-area: 5 / 1 / 6 / 6;

}

header {
    grid-area: 1 / 1 / 2 / 6;

}

nav {
    grid-area: 2 / 1 / 5 / 2;

}

aside {
    grid-area: 2 / 5 / 5 / 6;

}

main {
    grid-area: 2 / 2 / 5 / 5;

}

main article{
    border: 1px solid black;
    margin: 5px;
}